---
---

@import "{{ site.theme }}";

$grey-color:       #727272;
$grey-color-light: lighten($grey-color, 40%);
$header-link-height: 35px;

.ruled {
    border-bottom: 1px solid $grey-color-light;
    padding-bottom: 10px;
}


/**
* Header
**/

header {
  text-align: center;
}

header ul {
  text-align: center;
  height: $header-link-height;
  margin:20px auto;
}

header li {
  text-align: center;
  height: $header-link-height;
}


/**
* Navigation
**/

.nav {
  margin-bottom: 20px;
  text-align: right;
}

.nav a {
    margin: 0 0 10px 20px;
    line-height: 1.1;
    font-size: 1.3em;
    font-weight: bold;
    text-align: right;
    color: #393939;
}

.nav a:hover, a:focus {
    color: #069;
}

@media print, screen and (max-width: 720px) {
  .nav {
    text-align: center;
  }
}


/**
* Icons
**/
.icon {
    > svg {
        display: inline-block;
        width: 23px;
        height: 23px;
        vertical-align: middle;
        path {
            fill: $grey-color;
        }
    }
}

header a:hover, a:focus{
  .icon{
    > svg {
        path {
            fill: #069;
        }
    }}
}
