---
---

@import "{{ site.theme }}";

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$spacing-unit:     30px;

header {
  text-align: center;
}

header ul {
  text-align: center;
  margin:0 auto;
}

ul.centerUL {
    margin:20px auto;
    line-height: 1.4;
    padding-left: 0;
}

.centerUL li {
    text-align: center;
}


.ruled {
    border-bottom: 1px solid $grey-color-light;
    padding-bottom: 10px;
}

.nav {
  margin-bottom: 20px;
  text-align: right;
}

.nav a {
    margin:0 0 20px;
    line-height:1.1;
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 0;
    font-weight: bold;
    text-align: right;
    color:#393939;
}

.nav a:hover, a:focus {
    color:#069;
    font-weight: bold;
}

.icon {
    > svg {
        display: inline-block;
        width: 25px;
        height: 25px;
        vertical-align: middle;
        path {
            fill: $grey-color;
        }
    }
}

a .icon:hover, .icon:focus{
    > svg {
        path {
            fill: #069;
        }
    }
}
