<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <p><img width="180" src="{{ site.baseurl }}/assets/images/profile.png"></p>
        <h1 class="">{{ site.title | default: site.github.repository_name }}</h1>

        <!-- <p>{{ site.description | default: site.github.project_tagline }}</p> -->
        <p>Final year EngD student, University College London</p>

        {% include social.html %}

      </header>
      <section>

      <div class='nav ruled'>
        {% if page.title != 'About' %}
          <a href='index.html'>About</a>
        {% endif %}
        <a href='https://scholar.google.co.uk/citations?user=nVJFXWwAAAAJ'>Publications</a>
        {% if page.title != 'Talks' %}
          <a href='talks.html'>Talks</a>
        {% endif %}
        {% if page.title != 'Software' %}
          <a href='software.html'>Software</a>
        {% endif %}
      </div>

      {{ content }}

      </section>

      <footer>
        <p>alex.ganose.10[at]ucl[dot]ac[dot]uk</p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
