<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106951055-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-106951055-1');
    </script>

  </head>
  <body>
    <div class="wrapper">
      <header>
        <p><img width="180" src="{{ site.baseurl }}/assets/images/profile.png"></p>
        <a href="/index.html"><h1>{{ site.title | default: site.github.repository_name }}</h1></a>

        <p>Postdoc, Lawrence Berkeley National Laboratory</p><p><i>aganose[at]lbl.gov</i></p>

        {% include social.html %}

      </header>
      <section>

      <div class='nav ruled'>
        {% if page.title != 'About' %}
          <a href='/index.html'>About</a>
        {% endif %}
        <a href='https://scholar.google.co.uk/citations?user=nVJFXWwAAAAJ'>Publications</a>
        {% if page.title != 'Talks' %}
          <a href='/talks'>Talks</a>
        {% endif %}
        {% if page.title != 'Software' %}
          <a href='/software'>Software</a>
        {% endif %}
      </div>

      {{ content }}

      </section>

    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

    <script type="text/javascript">
    var sc_project=11484839;
    var sc_invisible=1;
    var sc_security="2c8d43e9";
    var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="Web Analytics"
    href="http://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="//c.statcounter.com/11484839/0/2c8d43e9/1/" alt="Web
    Analytics"></a></div></noscript>
  </body>
</html>
